/* =====================================================
   NAT ANSWER
   ===================================================== */

.nat-answer {

    margin-top: 25px;

    max-width: 450px;

}


.nat-answer label {

    display: block;

    font-size: 17px;

    font-weight: bold;

    margin-bottom: 10px;

}


#natInput {

    width: 100%;

    box-sizing: border-box;

    padding: 12px;

    font-size: 18px;

    border: 1px solid #999;

    border-radius: 4px;

}


.nat-note {

    font-size: 13px;

    color: #666;

    margin-top: 8px;

}
